.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol {
  margin: 0 25px 10px 0;
}
.pull-right {
  float: left;
}
.pull-left {
  float: right;
}
.table th,
.table td {
  text-align: right;
}
.navbar .brand {
  float: right;
  padding: 8px 20px 12px;
  margin-right: -20px;
  margin-left: 0;
}
.navbar .nav,
.navbar .nav > li {
  float: left;
}
.navbar .nav.pull-right {
  margin-right: 10px;
  margin-left: 0px;
}
.pull-right > .dropdown-menu {
  left: 0;
  right: auto;
}
.row-fluid [class*="span"] {
  float: right;
  margin-right: 2.0276595744681%;
  *margin-right: 2.0744680851064%;
  margin-left: 0px;
  *margin-left: 0px;
}
@media (min-width: 1200px) {
  .row-fluid [class*="span"] {
    margin-right: 2.0276595744681%;
  }
  .row-fluid .offset12 {
    margin-right: 105.52486187845304%;
    *margin-right: 105.41847889972962%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 102.76243093922652%;
    *margin-right: 102.6560479605031%;
  }
  .row-fluid .offset11 {
    margin-right: 96.96132596685082%;
    *margin-right: 96.8549429881274%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 94.1988950276243%;
    *margin-right: 94.09251204890089%;
  }
  .row-fluid .offset10 {
    margin-right: 88.39779005524862%;
    *margin-right: 88.2914070765252%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 85.6353591160221%;
    *margin-right: 85.52897613729868%;
  }
  .row-fluid .offset9 {
    margin-right: 79.8342541436464%;
    *margin-right: 79.72787116492299%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 77.07182320441989%;
    *margin-right: 76.96544022569647%;
  }
  .row-fluid .offset8 {
    margin-right: 71.2707182320442%;
    *margin-right: 71.16433525332079%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 68.50828729281768%;
    *margin-right: 68.40190431409427%;
  }
  .row-fluid .offset7 {
    margin-right: 62.70718232044199%;
    *margin-right: 62.600799341718584%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 59.94475138121547%;
    *margin-right: 59.838368402492065%;
  }
  .row-fluid .offset6 {
    margin-right: 54.14364640883978%;
    *margin-right: 54.037263430116376%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 51.38121546961326%;
    *margin-right: 51.27483249088986%;
  }
  .row-fluid .offset5 {
    margin-right: 45.58011049723757%;
    *margin-right: 45.47372751851417%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 42.81767955801105%;
    *margin-right: 42.71129657928765%;
  }
  .row-fluid .offset4 {
    margin-right: 36.752136752137%;
    *margin-right: 36.645753773413%;
  }
  .row-fluid .offset4:first-child {
    margin-right: 34.188034188034%;
    *margin-right: 34.081651209311%;
  }
  .row-fluid .offset3 {
    margin-right: 28.205128205128%;
    *margin-right: 28.098745226405%;
  }
  .row-fluid .offset3:first-child {
    margin-right: 25.641025641026%;
    *margin-right: 25.534642662302%;
  }
  .row-fluid .offset2 {
    margin-right: 19.65811965811966%;
    *margin-right: 19.551736679396257%;
  }
  .row-fluid .offset2:first-child {
    margin-right: 17.094017094017%;
    *margin-right: 16.987634115294%;
  }
  .row-fluid .offset1 {
    margin-right: 11.111111111111%;
    *margin-right: 11.004728132388%;
  }
  .row-fluid .offset1:first-child {
    margin-right: 8.5470085470085%;
    *margin-right: 8.440625568285142%;
  }
}
.row-fluid [class*="span"]:first-child {
  margin-right: 0;
}
.row-fluid .offset12 {
  margin-right: 105.52486187845304%;
  *margin-right: 105.41847889972962%;
}
.row-fluid .offset12:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 102.76243093922652%;
  *margin-right: 102.6560479605031%;
}
.row-fluid .offset11 {
  margin-right: 96.96132596685082%;
  *margin-right: 96.8549429881274%;
}
.row-fluid .offset11:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 94.1988950276243%;
  *margin-right: 94.09251204890089%;
}
.row-fluid .offset10 {
  margin-right: 88.39779005524862%;
  *margin-right: 88.2914070765252%;
}
.row-fluid .offset10:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 85.6353591160221%;
  *margin-right: 85.52897613729868%;
}
.row-fluid .offset9 {
  margin-right: 79.8342541436464%;
  *margin-right: 79.72787116492299%;
}
.row-fluid .offset9:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 77.07182320441989%;
  *margin-right: 76.96544022569647%;
}
.row-fluid .offset8 {
  margin-right: 71.2707182320442%;
  *margin-right: 71.16433525332079%;
}
.row-fluid .offset8:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 68.50828729281768%;
  *margin-right: 68.40190431409427%;
}
.row-fluid .offset7 {
  margin-right: 62.70718232044199%;
  *margin-right: 62.600799341718584%;
}
.row-fluid .offset7:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 59.94475138121547%;
  *margin-right: 59.838368402492065%;
}
.row-fluid .offset6 {
  margin-right: 54.14364640883978%;
  *margin-right: 54.037263430116376%;
}
.row-fluid .offset6:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 51.38121546961326%;
  *margin-right: 51.27483249088986%;
}
.row-fluid .offset5 {
  margin-right: 45.58011049723757%;
  *margin-right: 45.47372751851417%;
}
.row-fluid .offset5:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 42.81767955801105%;
  *margin-right: 42.71129657928765%;
}
.row-fluid .offset4 {
  margin-right: 36.752136752137%;
  *margin-right: 36.645753773413%;
}
.row-fluid .offset4:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 34.188034188034%;
  *margin-right: 34.081651209311%;
}
.row-fluid .offset3 {
  margin-right: 27.659574468085%;
  *margin-right: 27.553191489362%;
}
.row-fluid .offset3:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 25.131914893617%;
  *margin-right: 25.425531914894%;
}
.row-fluid .offset2 {
  margin-right: 19.148936170213%;
  *margin-right: 19.042553191489%;
}
.row-fluid .offset2:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 16.521276595745%;
  *margin-right: 16.514893617021%;
}
.row-fluid .offset1 {
  margin-right: 10.23829787234%;
  *margin-right: 10.531914893617%;
}
.row-fluid .offset1:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 8.0106382978723%;
  *margin-right: 8.0042553191489%;
}
.form-horizontal .control-label {
  float: right;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-right: 20px;
  margin-right: 160px;
  *margin-right: 0;
  margin-left: 0;
  text-align: right;
  margin-top: 6px;
}
.form-horizontal .controls:first-child {
  *padding-right: 160px;
}
.form-vertical .control-label {
  float: none;
  padding-right: 0;
  padding-top: 0;
  text-align: right;
  width: auto;
}
ul.nav-tabs.nav-stacked {
  padding: 0 20px 0 0;
  margin: 0 -8px 0 0;
}
.btn-group > .btn {
  float: right;
  margin-right: -1px;
  margin-left: 0;
}
.btn-group > .btn:first-child {
  margin-right: 0;
}
.btn-group > .btn:first-child,
.radio.btn-group > label:first-of-type {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.btn-group > .btn.large:first-child {
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  margin-right: 0;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-topright: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
}
.btn-group > .btn:first-child:last-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
}
.input-prepend .add-on {
  float: right;
}
.input-append .add-on {
  float: left;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-left: -1px;
  margin-right: 0;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-append .uneditable-input {
  border-left-color: #ccc;
  border-right-color: #eee;
}
.input-append .add-on:last-child,
.input-append .btn:last-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-left: -1px;
  margin-right: 0px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  float: right;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-right: -1px;
  margin-left: 0px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
body {
  direction: rtl;
}
.pager .next a {
  float: left;
}
.pager .previous a {
  float: right;
}
.btn-group > .btn:first-child,
.radio.btn-group > label:first-of-type {
  margin-left: 0;
  border-radius: 4px;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: right;
  margin-right: 2px;
  margin-left: 5px;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 18px;
  text-align: right;
}
.btn-group + .btn-group {
  margin-right: 5px;
  margin-left: 0px;
}
.tabs-left > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #DDD;
  margin-right: 0px;
  border-right: 0px;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #DDD #DDD #DDD transparent;
}
.tabs-left > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  margin-right: 0px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 0px;
}
.navbar .nav > li {
  float: right;
}
.icon-folder-2 {
  line-height: 25px;
  padding-left: 5px;
}
.navbar .nav > li > a {
  padding: 9px 10px;
  color: #D2E3FC;
}
.container-logo {
  padding-top: 6px;
}
.modal-header .close {
  float: left;
}
.pagination a {
  float: right;
}
.pagination a {
  float: right;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-right-width: 0;
}
.pagination li:first-child a {
  border-right-width: 1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination li:last-child a {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.icon-first:before {
  content: "\e000";
}
.icon-previous:before {
  content: "\7d";
}
.icon-last:before {
  content: "\7b";
}
.icon-next:before {
  content: "\7c";
}
.dl-horizontal dt {
  float: right;
}
.profile> ul {
  margin: 9px 25px 0 0;
}
.dropdown-submenu > a:after {
  float: left;
  border-width: 5px 5px 5px 0;
  margin-left: -10px;
  border-left-color: transparent;
  border-right-color: #CCC;
}
.rtl #yt_tool_bottom .module .btn-special {
  padding: 0 5px;
}
.rtl .backtotop {
  right: auto;
  left: 10px;
}
.rtl .backtotop i {
  margin: 8px 0 0;
}
.rtl dd {
  margin-right: 0;
}
.rtl .yt-boxquote {
  text-align: right;
}
.rtl#bd table td {
  text-align: right;
}
.rtl .mod_easyblogarchive .mod-months .mod-month {
  padding: 3px 24px 3px 0;
}
.rtl .blog-archive .mod-year a {
  background-position: right center;
}
.rtl .blog-archive .mod-month {
  background-position: right center;
}
.rtl #top1,
.rtl #flag {
  float: right;
}
.rtl #top2 {
  float: left;
}
.rtl #breadcrumb div.module ul.breadcrumb li .divider {
  background: url("../images/rtl/breadcrumb_separate.png") no-repeat scroll right 80% transparent;
}
.rtl #yt_top .yt-loginform > li .modal .form-inline .control-group #modlgn-username,
.rtl #yt_top .yt-loginform > li .modal .form-inline .control-group #modlgn-passwd {
  background-position: 95% center;
  padding: 0 45px 0 0;
}
.rtl #yt_top ul.yt-loginform {
  float: right;
}
.rtl #yt_top ul.yt-loginform > li {
  float: right;
  margin: 0;
  margin-left: 15px;
}
.rtl #yt_top ul.yt-loginform > li > a {
  padding: 0px;
}
.rtl #yt_top ul.yt-loginform > li > a:before {
  margin-right: 0;
  margin-left: 7px;
}
.rtl #yt_top ul.yt-loginform > li > a:hover:before {
  margin-right: 0;
  margin-left: 3px;
}
.rtl #yt_top .yt-loginform > li .modal {
  background-position: 95% 10px;
  padding: 10px 200px 10px 10px;
}
.rtl #yt_top .yt-loginform > li .modal .form-inline .control-group #modlgn-remember,
.rtl #yt_top .yt-loginform > li .modal .form-inline .control-group .control-label {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
.rtl #yt_top .yt-loginform > li .modal .form-inline ul.listlogin li a {
  background-position: right center;
  padding: 0 20px 0 0;
}
.rtl #yt_top .yt-loginform > li .modal a.modal-close {
  left: -10px;
  right: auto;
}
.rtl [class^="icon-"],
.rtl [class*=" icon-"] {
  margin: 0 0 0 5px;
}
.rtl .blog .items-leading .item .item-image,
.rtl .blog .items-row .item .item-image,
.rtl .blog-featured .items-leading .item .item-image,
.rtl .blog-featured .items-row .item .item-image {
  margin: 0 0 10px 20px;
}
.rtl .blog .items-row.cols-2 .item,
.rtl .blog .items-row.cols-3 .item,
.rtl .blog .items-row.cols-4 .item {
  margin-left: 0 !important;
  margin-right: 13px !important;
}
.rtl div.tag-category ul.items-row li.item .item-image {
  margin: 0 0 10px 20px;
}
.rtl .item-page .article-info ul.actions {
  float: left;
}
.rtl .item-page .img-fulltext.pull-left {
  margin: 0 0 1em 1em;
}
.rtl .item-page .img-fulltext.pull-right {
  margin: 0 1em 1em 0;
}
.rtl .item-page .vote-info .content_vote label.unseen {
  margin-left: 10px;
}
.rtl dl.tabs dt {
  float: right;
}
.rtl .search #searchForm .phrases-box input,
.rtl .search #searchForm .only input {
  float: right;
  margin: 4px 0 0 5px;
}
.rtl #advanced-search {
  text-align: right;
}
.rtl.contentpane #mailto-window .mailto-close {
  left: 40px;
  right: auto;
}
.rtl.contentpane .row-fluid [class*="span"]:first-child {
  margin-right: 0;
}
.rtl.contentpane .row-fluid [class*="span"] {
  margin: 0;
  margin-right: 2.12766%;
  float: right;
}
.rtl div.contact .contact-image {
  float: left;
}
.rtl.view-login .wrap-login .form-horizontal .control-group {
  float: right;
}
.rtl.view-login .wrap-login .other-link ul.yt-list li {
  float: right;
  margin: 0 0 0 25px;
}
.rtl .registration .form-horizontal .control-label {
  text-align: right;
}
.rtl .newsletter .btnEmail {
  background: url("../images/btnMail-rtl.png") no-repeat scroll center center transparent;
}
.rtl .newsletter .btnEmail:hover {
  background-image: url("../images/blue/btnMail-rtl-hover.png");
}
.rtl .account h3.modtitle {
  background-position: 95% center;
  padding: 25px 70px 30px 0;
}
.rtl .account .ezb-mod #form-login #modlgn_username,
.rtl .account .ezb-mod #form-login #modlgn_passwd {
  background-position: 95% center;
  padding-left: 0;
  padding-right: 40px;
}
.rtl .account .ezb-mod #form-login-remember #modlgn_remember {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.rtl .account .ezb-mod ul {
  margin: 0;
}
.rtl .mod_easyblogarchive .mod-year a {
  padding: 0 30px 0 0 !important;
}
.rtl .mod_easyblogarchive .mod-year a i {
  left: auto;
  right: 0;
}
.rtl .ezb-mod .mod-avatar {
  float: right;
  margin: 0 0 0 10px;
}
.rtl ul.breadcrumb li {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
  background: url("../images/rtl/arrow_breadcrumb.png") no-repeat scroll right center transparent;
  padding-left: 0px;
  padding-right: 12px;
}
.rtl ul.breadcrumb li:first-child {
  background: url("../images/rtl/icon_home.png") no-repeat scroll right center transparent;
  padding-right: 25px;
}
.rtl .about-page div.g-pageteam .yt-lightbox.image-right {
  float: right;
  margin: 0 0 20px 20px;
}
.rtl .about-page div.g-pageteam .content-about .content .fa {
  float: right;
  margin-right: 0;
  margin-left: 15px;
  padding-left: 0;
  padding-right: 18px;
}
.rtl .gallery .tabs .tabs {
  margin-left: 10px;
  margin-right: 0;
}
.rtl #yt_menuposition #meganavigator {
  width: 100%;
}
.rtl #yt_top #flag .mod-languages {
  float: left;
  margin-right: 0;
}
.rtl #yt_top #flag .mod-languages a.dropdown-toggle {
  background-position: right center;
  padding: 8px 20px 8px 15px;
}
.rtl #yt_top .yt-loginform > li {
  float: right;
}
.rtl .box_support {
  float: left;
}
.rtl .box_support .modcontent .yt-support {
  margin-left: 30px;
  margin-right: 0;
}
.rtl .box_support .modcontent .yt-support a {
  margin-right: 0;
  padding-left: 0;
  margin-left: 20px;
  padding-right: 25px;
  background-position: right center;
}
.rtl #top2 .box_search {
  float: left;
}
.rtl #top2 .box_search .modcontent .form-inline {
  right: auto;
  left: 0;
}
.rtl #top2 .box_search .modcontent .form-inline .inputbox {
  left: 24px;
  right: auto;
}
.rtl #top2 .box_search .modcontent .form-inline .btn {
  right: auto;
  left: 0;
}
.rtl #yt_menuposition ul.navi ul.subnavi li {
  background-position: 95% center;
}
.rtl .sj-slickslider .item-readmore {
  float: right;
}
.rtl .sj-responsive-listing .respl-header .respl-categories ul.respl-cats li.respl-cat {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.rtl .sj-responsive-listing .respl-header .respl-categories ul.respl-cats li.respl-cat a {
  background-position: 90% center;
  padding: 8px 30px 9px 18px;
}
.rtl .sj-responsive-listing .tab-content .item-inner .item-comments {
  margin: 0 -10px;
}
.rtl .sj-responsive-listing .tab-content .item-inner .item-comments a {
  background-position: right center;
  padding-left: 0;
  padding-right: 30px;
}
.rtl .sj-responsive-listing .tab-content .item-inner .item-comments a .icon {
  background-image: url(../images/rtl/icon-viewcomments.png);
  left: auto;
  right: 50%;
}
.rtl .sj-responsive-listing .tab-content .item-inner:hover .item-comments a .icon {
  left: auto;
  right: 86%;
}
.rtl .respl-wrap .respl-loader a.respl-button {
  background-position: 88% center;
  padding: 10px 42px 10px 35px;
}
.rtl .respl-wrap .respl-loader a.respl-button:after {
  content: "\f104";
  left: 50px;
  right: auto;
}
.rtl .respl-wrap .respl-loader a.respl-button:hover {
  background-color: #2bade1;
  text-decoration: none;
}
.rtl .respl-wrap .respl-loader a.respl-button:hover:after {
  left: 20px;
  right: auto;
}
.rtl .respl-wrap .loading a.respl-button {
  background: #58bee7;
  padding: 6px 0 6px 40px !important;
  text-align: right;
}
.rtl #k2Container .resplc-loadmore .resplc-loadmore-btn {
  background-position: 88% center;
  padding: 10px 42px 10px 35px;
}
.rtl #k2Container .resplc-loadmore .resplc-loadmore-btn:before {
  content: "\f104";
  left: 50px;
  right: auto;
}
.rtl #k2Container .resplc-loadmore .resplc-loadmore-btn:hover {
  background-color: #2bade1;
  text-decoration: none;
}
.rtl #k2Container .resplc-loadmore .resplc-loadmore-btn:hover:before {
  left: 20px;
  right: auto;
}
.rtl #k2Container .resplc-loadmore .loading.resplc-loadmore-btn {
  background: #58bee7;
  padding: 6px 0 6px 40px !important;
  text-align: right;
}
.rtl .resplc-loadmore .resplc-loadmore-btn {
  background-position: 88% center;
  padding: 10px 42px 10px 30px !important;
}
.rtl .resplc-loadmore .resplc-loadmore-btn:before {
  content: "\f104";
  left: 50px;
  right: auto;
}
.rtl .resplc-loadmore .resplc-loadmore-btn:hover {
  background-color: #2bade1;
  text-decoration: none;
}
.rtl .resplc-loadmore .resplc-loadmore-btn:hover:before {
  left: 20px;
  right: auto;
}
.rtl .loading.resplc-loadmore-btn {
  background: #58bee7;
  padding: 6px 0 6px 30px !important;
  text-align: right;
}
.rtl .yt-enjoy .modcontent .modcontent-text h2 {
  background-position: right center;
  padding: 6px 40px 6px 6px;
}
.rtl .sj-tabs .moduletabs.top-position .tabs-container ul.tabs li .tab {
  background-position: 90% center;
  padding: 8px 30px 9px 18px;
}
.rtl .sj-tabs .moduletabs.top-position .tabs-content-wrap .tab-content .k2ItemsBlock ul {
  margin-left: 0;
  margin-right: -2.5%;
}
.rtl .sj-tabs .moduletabs.top-position .tabs-content-wrap .tab-content .k2ItemsBlock ul li {
  float: right;
  margin-left: 0;
  margin-right: 2.5%;
}
.rtl .sj-tabs .moduletabs.top-position .tabs-content-wrap .tab-content .k2ItemsBlock ul li .item-inner .item-comments {
  margin: 0 -10px;
}
.rtl .sj-tabs .moduletabs.top-position .tabs-content-wrap .tab-content .k2ItemsBlock ul li .item-inner .item-comments a {
  background-position: right center;
  padding-left: 0;
  padding-right: 30px;
}
.rtl .sj-tabs .moduletabs.top-position .tabs-content-wrap .tab-content .k2ItemsBlock ul li .item-inner .item-comments a .icon {
  background-image: url(../images/rtl/icon-viewcomments.png);
  left: auto;
  right: 50%;
}
.rtl .sj-tabs .moduletabs.top-position .tabs-content-wrap .tab-content .k2ItemsBlock ul li:hover .item-inner .item-comments a .icon {
  left: auto;
  right: 86%;
}
.rtl .sj-team .sj-extraslider .extraslider-inner .item-wrap.style4 .item-image {
  float: right;
}
.rtl .sj-team .sj-extraslider .extraslider-inner .item-wrap.style4 .item-info {
  margin: 0 190px 0 0;
  padding: 0 0 0 30px;
  text-align: right;
}
.rtl .sj-team .sj-extraslider .extraslider-inner .item-wrap.style4 .item-info .item-content .item-description,
.rtl .sj-team .sj-extraslider .extraslider-inner .item-wrap.style4 .item-info .item-social {
  text-align: right;
}
.rtl .sj-team .sj-extraslider .extraslider-inner .item-wrap.style4 .item-info .item-social .yt-socialbt {
  margin-left: 7px;
  margin-right: 0;
}
.rtl #yt_spotlight8 .menu_bottom ul.menu {
  float: left;
}
.rtl #yt_spotlight8 .menu_bottom ul.menu li {
  float: right;
}
.rtl .module h3 span.badge {
  float: left;
}
.rtl .tags ul li {
  float: right;
}
.rtl .categories ul li a {
  background-position: right center;
  padding: 8px 27px 8px 0;
}
.rtl #k2Container .itemList .catItem-in-right,
.rtl #eblog-wrapper #ezblog-body .blog-post .blog-content .blog-meta-right {
  float: left;
}
.rtl #k2Container .itemList .itemContainer .catItemView,
.rtl #eblog-wrapper #ezblog-body .blog-post .blog-content .blog-left,
.rtl #eblog-wrapper #ezblog-body .blog-post .blog-content .blog-left .blogitem-image {
  float: right;
}
.rtl #eblog-wrapper #ezblog-body .blog-post .blog-content .blog-left .blogin-right {
  margin-left: auto;
  margin-right: 270px;
}
.rtl #eblog-wrapper #ezblog-body .blog-post .blog-content .blog-left .blogin-right .blog-taglist span.tag-head {
  float: right;
}
.rtl #ezblog-menu .blog-navi .user-form form {
  padding: 5px;
}
.rtl #eblog-wrapper #ezblog-body .blog-post .blog-content .blog-left .blogin-right .blog-meta > .in >span {
  padding-left: 0;
  padding-right: 25px;
  background-position: right center;
}
.rtl #eblog-wrapper #comment-form .comment-content {
  margin-left: 0;
  margin-right: 75px;
}
.rtl #eblog-wrapper #comment-form .comment-content .comment-head {
  margin-left: 0;
  margin-right: 20px;
}
.rtl #eblog-wrapper #comment-form .comment-content .comment-head .comment-name {
  float: right;
  display: inline-block;
  margin-left: 10px;
}
.rtl #eblog-wrapper #comment-form .comment-content label.label {
  margin-left: 0;
  margin-right: 20px;
}
.rtl #eblog-dialog .mrm,
.rtl #eblog-wrapper .mrm {
  margin-left: 0;
  margin-right: 10px;
}
.rtl #eblog-wrapper .blog-read .blog-head h1.blog-title {
  float: right;
}
.rtl #eblog-wrapper .blog-read .blog-head .blog-head-right {
  float: left;
}
.rtl #eblog-wrapper .blog-read .blog-head .blog-head-right ul li + li {
  margin-right: 20px;
  margin-left: 0;
}
.rtl #eblog-wrapper .blog-read .blog-head .blog-head-right ul li.bookmark {
  margin: 0;
}
.rtl #ezblog-body .blog-brief .blog-meta,
.rtl #ezblog-body .blog-brief .blog-option {
  margin-right: 0;
}
.rtl #ezblog-body .blog-brief .blog-meta ul,
.rtl #ezblog-body .blog-brief .blog-option ul {
  margin: 0;
}
.rtl #ezblog-body .blog-brief .blog-meta ul li +li,
.rtl #ezblog-body .blog-brief .blog-option ul li +li {
  margin-left: 0;
  margin-right: 20px;
}
.rtl #ezblog-body .comment-content .prm {
  padding-right: 0;
}
.rtl #ezblog-body .comment-content .mrm {
  margin-right: 0 !important;
}
.rtl #eblog-wrapper .comment-row .comment-body {
  border: 0;
}
.rtl #eblog-wrapper #blog-comment .comment-content {
  margin: 0 100px 0 0;
}
.rtl #ezblog-body .archive-list li.micro-post {
  background-position: right 12px;
  padding: 6px 25px 6px 0;
}
.rtl #eblog-wrapper #ezblog-body #ezblog-bloggers .profile-avatar {
  margin-right: 0;
  margin-left: 10px;
}
.rtl #eblog-wrapper .float-l,
.rtl #eblog-wrapper .profile-avatar {
  margin-left: 10px;
}
.rtl .latest-blogs .ezb-mod .mod-item .mod-post-image {
  margin: 0 0 10px 10px;
  float: right;
}
.rtl .latest-blogs .ezb-mod .mod-item .mod-post-meta .post-comments a {
  float: right;
}
.rtl #eblog-wrapper #blog-comment .comment-content .comment-author {
  float: right;
  padding-left: 15px;
}
.rtl #ezblog-body .tag-featured {
  display: inline-block;
  line-height: normal;
}
.rtl #ezblog-body .profile-sidebar {
  float: right;
}
.rtl #k2Container .itemList .itemContainer .catItemView .catItemImageBlock .catItemImage {
  margin: 0 0 20px 20px;
}
.rtl #k2Container.userView .userBlock img {
  float: right;
  margin-left: 15px;
}
.rtl #k2Container.userView .userItemList .userItemView .userItemBody {
  float: right;
}
.rtl #k2Container.userView .userItemList .userItemView .userItemBody .userItemImageBlock {
  float: right;
  margin: 0 0 20px 20px;
}
.rtl #k2Container.userView .userItemList .userItemView .user-in-right {
  float: left;
}
.rtl #k2Container.tagView .tagItemList .tagItemView .tagItemBody {
  float: right;
}
.rtl #k2Container.tagView .tagItemList .tagItemView .tagItemBody .tagItemImageBlock {
  float: right;
  margin: 0 0 20px 20px;
}
.rtl #k2Container.tagView .tagItemList .tagItemView .tag-in-right {
  float: left;
}
.rtl #k2Container.latestView .latestItemsContainer .catItemList .catItemView .latest-in-main .catItemImageBlock {
  float: right;
}
.rtl #k2Container.latestView .latestItemsContainer .catItemList .catItemView .latest-in-main .catItemImageBlock .catItemImage {
  margin-right: 10px;
  margin-left: 20px;
}
.rtl #k2Container.cols-2 .latestItemsContainer .catItemList .catItemView .latest-in-main .catItemImageBlock,
.rtl #k2Container.cols-3 .latestItemsContainer .catItemList .catItemView .latest-in-main .catItemImageBlock,
.rtl #k2Container.cols-4 .latestItemsContainer .catItemList .catItemView .latest-in-main .catItemImageBlock {
  float: none;
}
.rtl #k2Container.cols-2 .latestItemsContainer .catItemList .catItemView .latest-in-main .catItemImageBlock .catItemImage,
.rtl #k2Container.cols-3 .latestItemsContainer .catItemList .catItemView .latest-in-main .catItemImageBlock .catItemImage,
.rtl #k2Container.cols-4 .latestItemsContainer .catItemList .catItemView .latest-in-main .catItemImageBlock .catItemImage {
  margin: 0 0 20px;
  float: none;
}
.rtl #k2Container.itemView .itemBody .itemRelated ul li.odd img,
.rtl #k2Container.itemView .itemBody .itemRelated ul li.even img {
  float: right;
  margin: 6px 0 57px 25px;
}
.rtl #k2Container.itemView .itemBody .itemAuthorBlock img.itemAuthorAvatar,
.rtl #k2Container.itemView .itemComments .itemCommentsList li img {
  float: right;
  margin: 0 0 0 30px;
}
.rtl #k2Container.latestView .latestItemsContainer .catItemList .latest-in-right {
  float: left;
}
.rtl #k2Container.latestView .latestItemsContainer .catItemList .catItemView .latest-in-main {
  float: right;
}
.rtl #k2Container.latestView .latestItemsContainer .catItemList .catItemView.item1 {
  margin-right: 0;
}
.rtl #k2Container.itemView .itemBody .itemImageBlock span.itemImage {
  text-align: right;
}
.rtl div.itemAuthorLatest ul {
  margin-right: 0;
}
.rtl div.itemTwitterButton,
.rtl div.itemFacebookButton {
  float: right;
}
.rtl .blog-featured .feature-in-right,
.rtl .blog .items-row .item .blog-in-right {
  float: left;
}
.rtl .blog-featured .feature-in-main,
.rtl .blog-featured .items-row .item .item-image,
.rtl .blog .items-row .item .blog-in-main,
.rtl .blog .items-row .item .item-image {
  float: right;
}
.rtl .item-page .article-info dl.article-info dd,
.rtl .blog .items-row .item .article-text .item-headinfo dl.article-info dd {
  margin-right: 0;
}
.rtl .col-lg-1,
.rtl .col-lg-2,
.rtl .col-lg-3,
.rtl .col-lg-4,
.rtl .col-lg-5,
.rtl .col-lg-6,
.rtl .col-lg-7,
.rtl .col-lg-8,
.rtl .col-lg-9,
.rtl .col-lg-10,
.rtl .col-lg-11,
.rtl .col-lg-12 {
  float: right;
}
doesnotexist:-o-prefocus,
.rtl #yt_top ul.yt-loginform > li > a:before {
  margin-left: 0;
  margin-right: 7px;
}
doesnotexist:-o-prefocus,
.rtl #yt_top ul.yt-loginform > li > a:hover:before {
  margin-left: 0;
  margin-right: 3px;
}
doesnotexist:-o-prefocus,
.rtl .mod-languages .dropdown-menu li {
  direction: ltr;
}
